:global(.md) {
  .forpharma-page {
    :global(.page-content) {
      --f7-page-toolbar-top-offset: 96px;
      background-color: white;
    }
    .page-nav-bar:global(.navbar) {
      --f7-bars-bg-color: #2186d4;
      --f7-navbar-bg-color: var(--f7-bars-bg-color);
      --f7-navbar-border-color: var(--f7-bars-bg-color);
      :global(.navbar-inner) {
        justify-content: space-between;
        .page-title {
          display: flex;
          flex: 1;
          justify-content: center;
          text-align: center;
          font-size: 30px;
          span {
            font-size: 18px;
          }
        }
      }
    }
    .top-tool-bar:global(.toolbar) {
      --f7-toolbar-height: 96px;
      --f7-tabbar-link-inactive-color: white;
      --f7-tabbar-link-active-color: white;
      :global(.link) {
        border-bottom: 2px solid #2186d4;
      }
      :global(.tab-link-active) {
        border-bottom: 2px solid #0b2d47;
      }
    }
    .bottom-tool-bar:global(.toolbar) {
      --f7-toolbar-height: 116px;
      --f7-bars-bg-color: #c7e1f4;
      --f7-toolbar-bg-color: var(--f7-bars-bg-color);
      :global(.toolbar-inner) {
        width: 100%;
        :global(.link) {
          display: flex;
          width: 100%;
          height: 100%;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          border-top: 2px solid #c7e1f4;
          line-height: 1.5;
          font-size: 10px;
          white-space: normal;
          text-align: center;
          word-wrap: break-word;
          overflow-wrap: break-word;
        }
        :global(.tab-link-active) {
          border-color: #2186d4;
          color: #2186d4;
        }
      }
    }
    .progress-container {
      position: relative;
      width: 90%;
      display: grid;
      grid-template-columns: 3fr 1fr 9fr;
      align-items: center;
      padding-left: 20px;
      .custom-progressbar {
        --f7-progressbar-height: 5px;
        --f7-progressbar-border-radius: 0px;
      }
      :global(.progressbar, .progressbar-infinite) {
        background-color: #d9d9d9;
      }
      :global(.progressbar span) {
        --f7-theme-color-rgb: #00a086;
        --f7-progressbar-progress-color: var(--f7-theme-color-rgb);
      }
    }
    .progress-label {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff; /* Text color */
      font-weight: bold;
      font-size: 18px;
    }
    @media (max-width: 480px) {
      :global(.page-content) {
        --f7-page-toolbar-top-offset: 4px;
      }
      .top-tool-bar:global(.toolbar) {
        --f7-toolbar-height: 64px;
        :global(.link) {
          border-bottom: 1px solid #2186d4;
        }
        :global(.tab-link-active) {
          border-bottom: 1px solid #0b2d47;
        }
      }
      .page-nav-bar:global(.navbar) {
        :global(.navbar-inner) {
          .page-title {
            font-size: 22px;
            span {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
