:global(.md) {
  .forpharma-page {
    :global(.page-content) {
      --f7-page-toolbar-bottom-offset: 0px;
      background: linear-gradient(180deg, #2186d4 50%, #0b2d47 100%);
      :global(.card) {
        --f7-card-border-radius: 8px;
      }
      #chart-list-btn {
        --f7-list-margin-vertical: 16px;
        :global(.item-content) {
          background-color: #c7e1f4;
          border-radius: 4px;
          text-align: left;
          font-size: 14px;
          color: #333;
          :global(.item-inner::before) {
            --f7-list-chevron-icon-right: 'chevron_down';
            content: --f7-list-chevron-icon-right;
          }
        }
      }
      #doctor-dashboard-page-content {
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }
      #two-columns {
        --f7-grid-gap: 8px;
      }
      #top-doctors {
        :global(.item-content) {
          padding-left: 0;
        }
        :global(.item-inner) {
          font-size: 12px;
          text-wrap: nowrap;
          text-overflow: ellipsis;
          padding: 0;
          padding-left: calc(var(--f7-list-item-padding-horizontal) + var(--f7-safe-area-left));
        }
      }
    }
    .page-nav-bar:global(.navbar) {
      --f7-bars-bg-color: #2186d4;
      --f7-navbar-bg-color: var(--f7-bars-bg-color);
      --f7-navbar-border-color: var(--f7-bars-bg-color);
      :global(.navbar-inner) {
        justify-content: space-between;
        .page-title {
          display: flex;
          flex: 1;
          justify-content: center;
          text-align: center;
          font-size: 30px;
          span {
            font-size: 18px;
          }
        }
        #title-small {
          font-size: 10px;
        }
      }
    }
    .card-header-tool-bar:global(.toolbar) {
      --f7-bars-bg-color: #c7e1f4;
      --f7-toolbar-bg-color: var(--f7-bars-bg-color);
      border-top-left-radius: var(--f7-card-border-radius);
      border-top-right-radius: var(--f7-card-border-radius);
      height: 36px;
      :global(.toolbar-inner) {
        width: 100%;
        :global(.link) {
          display: flex;
          width: 100%;
          height: 100%;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
        :global(.tab-link-active) {
          border-color: #2186d4;
          color: #2186d4;
        }
        :global(.tab-link-highlight) {
          bottom: 0;
        }
      }
    }
    .bottom-buttons {
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 600px;
      margin-top: 24px;
      a {
        display: flex;
        width: 100%;
        height: 64px;
        align-items: center;
        justify-content: center;
        --f7-button-bg-color: #2186d4;
        border: 1px solid #c7e1f4;
        font-size: 20px;
        :global(i.icon) {
          margin-right: 16px;
        }
      }
    }
    .team-perf-insights-heading {
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      margin: 4px !important;
    }
    .team-perf-insights-chart {
      background-color: white;
      margin: 0 14px;
      border-radius: 10px;
    }
    .key-insights {
      margin: 0 10px;
      border-radius: 10px;
      padding: 0 !important;
      :global(.toolbar) {
        background-color: #e9f3fb;
        border-radius: 10px;
        height: 30px;
      }
    }
    .my-statistics-row {
      display: grid;
      grid-template-columns: repeat(4, 21vw);
      gap: 3px;
      padding: 5px;
      align-items: center;
    }
    .segmented-rank-and-grades {
      display: flex;
      margin: 10px;
      padding: 20px;
      gap: 10px;
      padding-inline: 10px;

      .segmented-block {
        width: 44vw;
        border-radius: 10px;
        text-align: center;
        background: #c8e0f4;
        padding-inline: 10px;
        .segmented-rank {
          display: flex;
          gap: 10px;
          .guage-chart {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 10vw;
          }
        }
      }
      .grades-and-capability {
        display: flex;
        gap: 4px;
        font-size: 12px;
        width: 49vw;
        background: #c8e0f4;
        border-radius: 10px;
        padding-inline: 10px;
        .grades {
          display: flex;
          flex-direction: column;
          gap: 5px;
          align-items: center;
        }
        .grade-block {
          height: 30px;
          display: flex;
          flex-direction: column;
          background: white;
          border-radius: 10px;
          padding: 9px;
          align-items: center;
          width: 65px;
        }
      }
    }
    .top-performer-row {
      display: grid;
      grid-template-columns: repeat(3, 30vw);
      gap: 6px;
      padding: 5px;
      align-items: center;
    }
    .regionsText {
      padding-left: 8px;
      font-size: 13px;
      text-align: center;
    }
    @media (max-width: 480px) {
      :global(.page-content) {
        --f7-page-toolbar-bottom-offset: 116px;
        /* --f7-block-padding-horizontal: 10px; */
      }
      .page-nav-bar:global(.navbar) {
        :global(.navbar-inner) {
          .page-title {
            font-size: 20px;
            span {
              font-size: 14px;
            }
          }
        }
      }
      .bottom-buttons {
        a {
          height: 48px;
          font-size: 16px;
          :global(i.icon) {
            margin-right: 16px;
          }
        }
      }
    }
  }
}
